header {
    background-color: #0c0c4d;
    padding: 25px 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.in-header {
    text-decoration: none;
    color: inherit;
}

.title {
    font-size: larger;
}